.group-header {
    -fx-font-family: "Domaine Display Test";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: -fx-accent;
    -fx-padding: 50px 0 5px 0;
}

.separator *.line {
    -fx-border-color: -fx-accent;
}

.game-option-container {
    -fx-background-color: -fx-absolute;
    -fx-background-radius: 5px;
    -fx-border-color: -fx-text;
    -fx-border-radius: 5px;
    -fx-pref-width: 140px;
    -fx-pref-height: 140px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-cursor: hand;
}
