@font-face {
    src: url("../fonts/DomaineTextTest/Light.otf");
}

@font-face {
    src: url("../fonts/DomaineTextTest/Regular.otf");
}

@font-face {
    src: url("../fonts/DomaineTextTest/Medium.otf");
}

@font-face {
    src: url("../fonts/DomaineDisplayTest/Regular.otf");
}

@font-face {
    src: url("../fonts/DomaineDisplayTest/Medium.otf");
}

@font-face {
    src: url("../fonts/DomaineDisplayTest/Semibold.otf");
}

.default-btn {
    -fx-background-color: #336A89;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-font-size: 18px;
    -fx-font-family: "Domaine Text Test";
}

.nav-bar-link {
    -fx-padding: 0;
    -fx-background-color: none;
    -fx-font-size: 24px;
    -fx-text-fill: rgba(255, 255, 255, 0.6);
    -fx-font-family: "Domaine Text Test";
}

.nav-bar-link.active {
    -fx-text-fill: white;
}