@font-face {
    src: url("../fonts/DomaineTextTest/Light.otf");
}

@font-face {
    src: url("../fonts/DomaineTextTest/Medium.otf");
}

@font-face {
    src: url("../fonts/DomaineTextTest/Regular.otf");
}

@font-face {
    src: url("../fonts/DomaineDisplayTest/Semibold.otf");
}

@font-face {
    src: url("../fonts/DomaineDisplayTest/Medium.otf");
}

@font-face {
    src: url("../fonts/DomaineDisplayTest/Regular.otf");
}

* {
    -fx-red: #c13e3e;
    -fx-accent: #336a89;
    -fx-text-fill: -fx-text;
}

.light-theme * {
    -fx-bg: #fafafa;
    -fx-lesser: #c4c4c4;
    -fx-less: #515151;
    -fx-text: #000000;
    -fx-absolute: #ffffff; /* opposite of text color */
}

.dark-theme * {
    -fx-bg: #1a1a1a;
    -fx-lesser: #c4c4c4;
    -fx-less: #bebebe;
    -fx-text: #ffffff;
    -fx-absolute: #000000;
}

.grey-accent * {
    -fx-accent: #515151;
}

.blue-accent * {
    -fx-accent: #336a89;
}

.green-accent * {
    -fx-accent: #50846e;
}

.label {
    -fx-font-family: "Domaine Text Test";
    -fx-font-weight: normal;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-font-family: "Domaine Text Test";
    -fx-padding: 10px 16px 10px 16px;
    -fx-cursor: hand;
}

.text-field {
    -fx-font-family: "Domaine Text Test";
    -fx-font-size: 16px;
    -fx-prompt-text-fill: -fx-lesser;
    -fx-background-color: -fx-lesser, -fx-bg;
    -fx-background-insets: 0 -1 -1 -1, 0 -1 0 -1;
    -fx-background-radius: 0;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0.5px;
    -fx-border-color: -fx-text;
}

.text-area, .text-area:focused {
    -fx-font-family: "Domaine Text Test";
    -fx-font-size: 14px;
    -fx-background-insets: 0;
    -fx-background-color: -fx-bg;
    -fx-background-radius: 0;
}

.text-area .content, .text-area:focused .content {
    -fx-padding: 0;
    -fx-background-color: -fx-bg;
    -fx-background-radius: 0;
}