.color-option {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.color-option.selected {
    -fx-background-insets: 0, 3px;
}

.text-field {
    -fx-background-color: none;
    -fx-padding: 0;
}